body{
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(121, 128, 138);
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    max-width: 100%;
    height: auto;
}