*{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

body{
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(121, 128, 138);
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
svg{
    display: block;
    vertical-align: middle;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    position: relative;
}
.nav-links a{
    padding: 10px 20px;
    display: block;
}
